.modalWindow {
  width: 100%;
  max-width: 800px;
  &__content {
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-weight: 400;
    font-size: 14px;
  }
}

.orderText {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 10px;
  max-width: 600px;
}
