.track-order {
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: var(--z-index-widget);
  width: 100vw;
  padding: 20px 0;
  &__container {
    padding: 0px 20px;
    margin: 0 auto;
    max-width: 600px;
    display: flex;
    gap: 20px;
    overflow-x: hidden;
    @media (max-width: 768px) {
      overflow-x: scroll;
      scrollbar-width: none; /* Скрыть скроллбар */

      /* Для WebKit-браузеров (Chrome, Safari, Edge) */
      &::-webkit-scrollbar {
        display: none; /* Скрыть скроллбар */
      }

      /* Для IE и Edge (старых версий) */
      -ms-overflow-style: none;
    }
  }
}

.order {
  background-color: var(--main-block-color);
  flex: 1 0 90%;
  border-radius: 12px;
  display: flex;
  padding: 10px;

  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.25);
  &__column {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: self-start;
  }
  &__status {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    &-icon {
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;

      padding: 5px;
      background-color: var(--light-blue);
    }
    &-text {
      font-weight: 700;
      font-size: 14px;
      color: var(--black);
      text-align: center;
    }
  }
}
