.breadcrumb {
  align-self: flex-start;
  &__list {
    display: flex;
    align-items: center;
    gap: 7px;
  }
  &__link {
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    line-height: 250%;
  }
  &__link a {
    color: #fff;
  }
  &__link:not(:last-child)::after {
    margin-left: 7px;
    content: ">";
    color: #fff;
  }
}

.about {
  &__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__features {
    width: 100%;
  }
  &__row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    align-items: center;
    @media (max-width: 768px) {
      & {
        flex-direction: column;
      }
      &_2 {
        flex-direction: column-reverse;
      }
    }
  }
  &__column {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  &__text {
    font-size: 18px;
    color: var(--white);
    line-height: 150%;
  }
  &__image_1 {
    flex: 1 0.3 543px;
    border-radius: 40px;
    overflow: hidden;
    @media (max-width: 768px) {
      & {
        flex: auto;
      }
    }
  }
  &__image_2 {
    flex: 1 0.3 600px;
    border-radius: 40px;
    overflow: hidden;
    @media (max-width: 768px) {
      & {
        flex: auto;
      }
    }
  }
  &__mission {
    display: flex;
    flex-direction: column;
    gap: 10px;
    &-text {
      font-weight: bold;
      font-size: 18px;
      color: var(--white);
      background-color: var(--light-blue);
      padding: 20px;
      border-radius: 20px;
      width: fit-content;
    }
  }
  &__indicators-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
.feature {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__number {
    padding: 30px;
    font-size: 36px;
    color: var(--white);
  }
  &__text {
    font-size: 18px;
    color: var(--white);
    line-height: 150%;
    flex: 0 1 800px;
  }
}

.indicators {
  display: flex;
  padding: 70px 50px;
  gap: 30px;
  background-color: var(--main-block-color);
  border-radius: 32px;
  justify-content: space-between;
  align-items: center;
  &__indicator {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  &__indicator-value {
    font-weight: bold;
    font-size: 34px;
  }
  &__indicator-title {
    font-weight: bold;
    font-size: 16px;
    color: var(--black);
  }
  @media (max-width: 768px) {
    & {
      display: flex;
      flex-direction: column;
      gap: 50px;
      align-items: center;
    }
  }
}

.footer-nav {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;

  &__button_back,
  &__button_forward {
    padding: 20px;
    font-size: 25px;
    border-radius: 50%;
    border: 2px solid #fff;
    position: relative;
  }
  &__button_back::after,
  &__button_forward::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
  &__button_forward::after {
    content: ">";
  }
  &__button_back::after {
    content: "<";
  }
  @media (max-width: 768px) {
    &__button_back,
    &__button_forward {
      padding: 17px;
    }
  }
}
