.addressForm {
  padding: 15px;
  background-color: var(--main-block-color);
  border-radius: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.151);
  &__title {
    font-size: 16px;
    font-weight: 600;
  }
  &__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__delete {
    position: relative;
    width: 30px;
    height: 20px;
    cursor: pointer;
    &::before,
    &::after {
      content: "";
      position: absolute;
      height: 2px;
      width: 12px;
      top: 50%;
      left: 50%;
      background-color: #bebebe;
    }

    &::after {
      transform: rotate(45deg);
    }
    &::before {
      transform: rotate(135deg);
    }
  }
  &__address {
    display: flex;
    gap: 12px;
  }
  &__row {
    display: flex;
    gap: 12px;
  }
  &__phone {
    display: flex;
    gap: 12px;
    min-width: 155px;
  }
}

.additional {
  display: flex;
  flex-direction: column;
  gap: 12px;
  visibility: hidden;
  max-height: 0;
  padding-top: 5px;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0, 1, 0, 1);
  &.active {
    visibility: visible;
    height: auto;
    max-height: 9999px;
    transition: all 0.3s cubic-bezier(1, 0, 1, 0);
  }
  &__floor {
    width: 100%;
  }
  &__apartment {
    width: 100%;
  }
  &__addressInfo {
    display: flex;
    gap: 12px;
  }

  &__toggle {
    cursor: pointer;
    position: relative;
    padding-left: 16px;
    font-size: 14px;
    font-weight: 500;
    &::before,
    &::after {
      content: "";
      position: absolute;
      height: 2px;
      width: 12px;
      top: 50%;
      left: 0;
      background-color: black;
      transition: 0.3s ease-in all;
    }

    &::before {
      transform: rotate(90deg);
    }

    &.active::after {
      transform: rotate(45deg);
      transition: 0.3s ease-in all;
    }
    &.active::before {
      transform: rotate(135deg);
      transition: 0.3s ease-in all;
    }
  }
}
