.modalWindow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 10px;

  background-color: rgba(0, 0, 0, 0.3);
  z-index: var(--z-index-overlay);
  &__body {
    z-index: var(--z-index-modal);

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 12px;
    padding: 15px;
    background-color: var(--main-block-color);
    border-radius: 10px;

    animation: scale 0.3s linear forwards;
  }

  @keyframes scale {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(100%);
    }
  }
  &__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__close {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;

    display: flex;
    align-items: center;
    justify-content: center;

    &::before,
    &::after {
      content: "";
      position: absolute;
      height: 2px;
      width: 12px;
      top: 50%;
      left: 50%;
      // transform: translate(-50%, -50%);
      background-color: #bebebe;
    }

    &::after {
      transform: rotate(45deg);
    }
    &::before {
      transform: rotate(135deg);
    }
  }
}
