// Heading.module.scss

.subtitle {
  font-size: 24px;

  @media (max-width: 768px) {
    // стили для планшета
    font-size: 20px;
  }

  @media (max-width: 425px) {
    // стили для телефона
    font-size: 16px;
  }
}

.black {
  color: var(--black);
}

.white {
  color: var(--white);
}
