:root {
  --main-block-color: #fff;
  --placeholder-color: rgb(78, 78, 78);
  --main-background-color: #0569ff;
  --white: #fff;
  --black: #423e3e;
  --grey: #bebebe;
  --blue: #0569ff;
  --light-blue: #569aff;
  --gap-base: 20px;
  --gap-increased: 20px;
}
