:root {
  --main-block-color: #fff;
  --placeholder-color: rgb(78, 78, 78);
  --main-background-color: #0569ff;
  --white: #fff;
  --black: #423e3e;
  --grey: #bebebe;
  --blue: #0569ff;
  --light-blue: #448fff;
  --gap-base: 20px;
  --gap-increase: 20px;
}
