.button {
  border-radius: 20px;
  padding: 10px 15px;
  width: 100%;
  font-weight: 600;
  padding: 10px 15px;

  @media (max-width: 768px) {
    & {
      font-size: 14px;
    }
  }
  @media (max-width: 425px) {
    & {
      font-size: 12px;
    }
  }
}

.whiteButton {
  background-color: var(--white);
  color: var(--blue);
  transition: all 0.3s;

  @media (hover: hover) {
    &:hover {
      background-color: var(--light-grey);
      transform: scale(1.01);
    }
  }
  @media (hover: none) {
    &:active {
      background-color: var(--light-grey);
      transform: scale(1.01);
    }
  }
}

.blueButton {
  background-color: var(--blue);
  color: var(--white);
  transition: all 0.3s;

  @media (hover: hover) {
    &:hover {
      background-color: var(--light-blue);
      transform: scale(1.01);
    }
  }
  @media (hover: none) {
    &:active {
      background-color: var(--light-blue);
    }
  }
}
