.page-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  gap: 30px;
}

.welcome {
  height: 100%;
  width: 100%;

  &__content {
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 100%;
    gap: 30px;
    // background-image: url("/background.png");
    // background-repeat: no-repeat;
    // background-position: center;
    // background-size: cover;
    border-radius: 50px;
  }

  &__block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 100%;
  }

  &__title {
    margin-bottom: 10px;
    text-align: left;
  }
  &__subtitle {
    margin-right: 10px;
    text-align: right;
    transform: translateX(400px);
  }

  &__offer {
    display: flex;
    text-align: left;
    flex-direction: column;
    text-align: center;
  }

  &__mini-form {
    transform: translateY(280px);
    max-width: 400px;
    height: 250px;
    width: 100%;
  }

  &__tiles {
    width: 100%;
    gap: 12px;
    display: flex;
    flex-direction: column;
  }

  @media (max-width: 992px) {
    &__content {
      align-items: center;
    }

    &__block {
      flex-direction: column;
      width: 100%;
    }
    &__mini-form {
      transform: translateY(0);
    }
    &__subtitle {
      margin-right: 0px;
      text-align: right;
      transform: translateX(0);
    }
    &__offer {
      width: 100%;
    }

    &__tiles {
      align-items: center;
    }
    &__block {
      flex-direction: column;
      justify-content: center;
      gap: 30px;
    }
    &__mini-form {
      transform: translateY(0);
      max-width: 350px;
      height: 230px;
      width: 100%;
    }
  }
}

.info {
  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__content {
    display: flex;
    flex-direction: column;
    gap: 60px;
  }

  @media (max-width: 768px) {
    &__content {
      gap: 30px;
    }
  }
}

.indicators {
  display: flex;
  padding: 70px 50px;
  gap: 30px;
  background-color: var(--main-block-color);
  border-radius: 32px;
  justify-content: space-between;
  align-items: center;
  &__indicator {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  &__indicator-value {
    font-weight: bold;
    font-size: 34px;
  }
  &__indicator-title {
    font-weight: bold;
    font-size: 16px;
    color: var(--black);
  }
  @media (max-width: 768px) {
    & {
      display: flex;
      flex-direction: column;
      gap: 50px;
      align-items: center;
    }
  }
}
