.header {
  position: fixed;
  width: 100%;
  left: 0;
  z-index: var(--z-index-header);

  &Body {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--header-height);
    padding: 0 20px 0 20px;
    background-color: var(--light-blue);
    border-radius: 20px;
    position: relative;
  }

  &Logo {
    height: 100%;
    z-index: 3;
    font-weight: bold;
  }
  &Logo a {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
  }
  &Phone {
    height: 100%;
  }
  &Phone a {
    height: 100%;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
  }
  &Link {
    color: var(--white);
    display: flex;
    align-items: center;
    font-weight: bold;
  }
  &Burger {
    display: block;
    position: relative;
    cursor: pointer;
    z-index: 2;
    width: 30px;
    height: 100%;
  }
  &Burger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--white);
    top: 50%;
    transition: all 0.2s ease-in;
  }
  &Burger::after,
  &Burger::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    transition: all 0.3s ease-out;
  }
  &Burger::before {
    bottom: calc(50% - 8px);
    transform: translate(0, 100%);
  }
  &Burger::after {
    top: calc(50% - 8px);
  }
  &Burger.opened::before {
    bottom: calc(50% - 1px);
    transform: rotate(45deg);
  }
  &Burger.opened::after {
    top: calc(50% - 1px);
    transform: rotate(-45deg);
  }
  &Burger.opened span {
    width: 0;
  }
}

.nav {
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.3);
  z-index: var(--z-index-header-overlay);

  &.opened {
    visibility: visible;
    pointer-events: all;

    animation: jump-back 0.41s linear forwards;
  }
  &.closed {
    visibility: visible;
    pointer-events: all;
    animation: jump 0.4s linear forwards;
  }
  &.init {
    visibility: hidden;
    pointer-events: none;
    left: -100%; /* Резкий скачок на left: -100% */
  }
  @keyframes jump {
    0% {
      opacity: 1;
    }
    99% {
      opacity: 0;
      left: 0; /* Элемент остается на left: 0 */
    }
    100% {
      visibility: hidden;
      pointer-events: none;
      left: -100%; /* Резкий скачок на left: -100% */
    }
  }

  @keyframes jump-back {
    0% {
      left: 0; /* Элемент остается на left: 0 */
    }
    100% {
      left: 0; /* Резкий скачок на left: -100% */
    }
  }
  &Body {
    display: flex;
    flex-direction: column;

    position: relative;
    background-color: var(--blue);
    width: 300px;
    height: 100%;
    z-index: var(--z-index-side-menu);

    border-radius: 0 16px 16px 0;
    padding: 20px 0 20px 20px;
    left: -300px;
    visibility: hidden;

    transition: all 0.5s ease-in-out;

    &.opened {
      visibility: visible;

      left: 0px;
      transition: all 0.5s ease-in-out;
    }
  }
  &Logo {
    width: 80%;
    color: var(--white);
    display: flex;
    align-items: center;
    padding: 0 0 15px 0;
    border-bottom: 1px solid #ffffff;
    font-weight: bold;
  }
  &Link {
    color: var(--white);
    display: flex;
    font-weight: 700;
    align-items: center;
    padding: 10px 0;
  }
}

.authForm {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 10;
  transform: translate(-50%, -50%);
  background-color: var(--main-block-color);
  padding: 20px;
  border-radius: 12px;
}
