.profile-info__info {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.profile_info.modal {
  overflow: hidden;
}
.profile-info__name-title,
.profile-info__email-title,
.profile-info__surname-title,
.profile-info__phone-title {
  font-size: 18px;
  font-weight: bold;
}

.profile-field {
  margin-top: 4px;
  border-radius: 7px;
  border-bottom: 1px solid black;
  background: rgba(255, 0, 0, 0.13);
  padding: 16px;
  width: 100%;
  font-weight: bold;
}

.profile-info__buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.profile-info__update-button {
  border-radius: 7px;
  border-bottom: 1px solid black;
  background: rgba(255, 0, 0, 0.13);
  padding: 16px;
  width: 300px;
  font-weight: bold;
}
.profile-info__logout-button {
  border-radius: 7px;
  border-bottom: 1px solid black;
  background: rgba(255, 0, 0, 0.13);
  padding: 16px;
  width: 300px;
  font-weight: bold;
}
