.field {
  position: relative;
  width: 100%;
  &__input {
    border: 1px solid #999999;
    border-radius: 9px;
    padding: 10px 15px;
    width: 100%;
    font-size: 14px;
    position: relative;
    transition: all 0.3s;
  }
  &__input:focus {
    border-color: #3586ff;
    transition: all 0.3s;
  }
  &__input.error {
    border: 1px solid #ff0000;
    transition: all 0.3s;
  }
  &__input.error + &__placeholder {
    color: red !important;
    transition: all 0.3s;
  }
  &__placeholder {
    font-size: 12px;
    font-weight: 400;
    color: var(--placeholder-color);

    background-color: white;

    position: absolute;
    top: 20px;
    left: 15px;
    transform: translateY(-50%);

    pointer-events: none;
    transition: all 0.3s;
  }

  &__input:focus + &__placeholder {
    top: -8.5px;
    left: 2px;
    transform: scale(85%);
    transition: all 0.3s;
    color: var(--blue) !important;
  }

  &__input:focus + &__placeholder.error {
    transition: all 0.3s;
    color: #ff0000 !important;
  }
  &__input:not(:placeholder-shown) + &__placeholder {
    top: -8.5px;
    left: 2px;
    transform: scale(85%);
    transition: all 0.3s;
    color: var(--placeholder-color);
  }

  &__error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
    transition: all 0.3s;
    margin-left: 8px;
  }
}
