.address {
  display: flex;
  width: 100%;
  flex-grow: 1;

  &__index {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    flex: 1 0 15%;
    border-radius: var(--border-radius) 0 0 var(--border-radius);
    background-color: var(--light-blue);
    color: white;
    font-weight: bold;
    font-size: 30px;
  }

  &__info {
    flex-grow: 1;
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }

  &__address {
    font-weight: 600;
    margin-bottom: 10px;
  }

  &__additional {
    visibility: hidden;
    max-height: 0;
    padding: 4px 0 0 0;
    opacity: 0;
    overflow: hidden;
    transition: all 0.3s ease-in;

    &.active {
      visibility: visible;
      opacity: 1;
      max-height: 300px;
      transition: all 0.3s ease-in;
    }
  }

  &__additional-row {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  &__additional-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 170px;

    &_2 {
      flex: 1 0 200px;
    }
  }

  &__additional-toggle {
    font-weight: 400;
    font-size: 14px;
    color: #000;
    cursor: pointer;
  }

  &__additional-comment {
    height: 100%;
  }
}
