.footerTop {
  height: 150px;
  background-image: url("/footer-top.svg");
}

.footer {
  background-color: var(--light-blue);
  padding: 30px 0;
  &__headingRow {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__headingColumn {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
  }
  &__headingColumn span {
    color: white;
    font-size: 14px;
  }
  &__headingColumn2 {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    gap: 10px;
  }
  &__logo {
    color: var(--white);
    font-weight: bold;
    font-size: 18px;
    margin-right: 40px;
  }
  &__heading {
    margin-bottom: 20px;
  }
  &__headingTitle {
    color: var(--white);
    font-weight: 700;
    text-align: right;
  }
  &__body {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
  }
  &__bodyColumn {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  &__bodyColumn a {
    display: block;
    padding: 8px 0;
    color: white;
    font-weight: 400;
    font-size: 14px;
  }
  &__bodyColumnTitle {
    color: white;
    font-weight: bold;
    font-size: 18px;
  }

  &__bodySocials {
    display: flex;
    gap: 10px;
  }
  &__bodyContactPhone,
  &__bodyContactEmail {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  &__bodyForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
  @media (max-width: 768px) {
    &__body {
      align-items: center;
      flex-direction: column;
    }
    &__bodyColumn {
      align-items: center;
      flex-direction: column;
    }
  }
  &__bodyLink {
    color: var(--white);
  }
}
