.htu {
  &__content {
    display: flex;
    justify-content: space-between;
    background-color: var(--light-blue);
    padding: 30px;
    border-radius: 40px;
    width: 100%;
  }
  &__row {
    display: flex;
    gap: 25px;
    justify-content: space-between;
  }
  &__column_1 {
    margin-right: clamp(1rem, -0.09rem + 5.283vw, 6.25rem);
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  &__column_2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
  }
  &__description {
    font-size: 16px;
    color: var(--white);
    line-height: 150%;
  }
  &__button {
    color: var(--white);
    padding: 10px;
    border-radius: 40px;
    border: 2px var(--white) solid;
    width: 100%;

    font-weight: bold;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;

    @media (hover: hover) {
      &:hover {
        transition: all 0.3s;
        background-color: var(--white);
        color: var(--black);
      }
    }
  }
  &__step {
    background-color: var(--blue);
    padding: 20px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: clamp(15.625rem, -5.682rem + 34.091vw, 25rem);
    box-shadow: 9px 12px 12px 0 rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
  }
  &__step p {
    color: var(--white);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
  }
  &__link {
    color: var(--white);
    font-weight: 700;
    border-bottom: 1px solid var(--white);
  }
  @media (hover: hover) {
    &__step:hover {
      box-shadow: 9px 12px 12px 0 rgba(0, 0, 0, 0.15);
      transition: all 0.3s;
      transform: scale(1.02);
    }
  }
  @media (max-width: 1024px) {
    &__row {
      flex-direction: column;
    }
    &__step {
      width: 100%;
    }
    &__column_1 {
      margin-right: 0;
      align-items: center;
    }
  }
  @media (max-width: 690px) {
    &__content {
      padding: 30px 20px;
    }
    &__column_2 {
      grid-template-columns: 1fr;
      gap: 20px;
    }
  }
}
